<div class="container">
  <% if !@session %>
    <%= erb :_login_forms %>
  <% end %>



     <%= erb :_nav %>


<div id="title" class="center text-center">
  <h1>RECENTLY ASKED QUESTIONS</h1>
</div> <!--title div -->


<% @questions.each do |question| %>
<div class="row text-center">

        <div id="single-q" class='col' data-category="<%= question.title %>">
            <div id="text"><a href="/questions/<%="#{question.id}"%>"><%= question.title %></a></div>
            <div id="show">Votes: <%= question.votes%> | Answer: <%= question.answers.count %></div>
        </div> <!--single-q div -->
  </div> <!--row text center div -->
      <% end %>









</div> <!--container div -->
